In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./datasets/instagram/export.csv', sep=',', header=0)

In [ ]:
data

In [3]:
data.describe()

       comment_count       follows    followed_by  python_faces    like_count
count   37580.000000  33848.000000   33848.000000  37481.000000  37580.000000
mean        1.108329    455.685654    1827.589459      0.703183     53.617855
std        14.393160    528.831313   13256.230510      1.442429    758.392492
min         0.000000      0.000000       0.000000      0.000000      0.000000
25%         0.000000    195.000000     169.000000      0.000000      3.000000
50%         0.000000    329.000000     293.000000      0.000000     17.000000
75%         1.000000    534.000000     573.000000      1.000000     39.000000
max      2287.000000   7502.000000  570085.000000     25.000000  97629.000000

In [4]:
x_data = data.filter(['comment_count','follows','followed_by','python_faces'], axis=1).fillna(0)

In [5]:
y_data = data.filter(['like_count'], axis=1).fillna(0)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2)

In [8]:
from sklearn.neighbors import KNeighborsRegressor

In [9]:
neigh = KNeighborsRegressor(n_neighbors=15)

In [10]:
neigh.fit(x_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=15, p=2,
          weights='uniform')

In [11]:
neigh.score(x_test, y_test)

0.14002821662830167

In [12]:
y_predict = neigh.predict(x_test)

In [13]:
y_predict = pd.DataFrame(y_predict, y_test.index, columns=['predicted_like_count'])

In [14]:
y_obs = pd.concat([y_predict, y_test], axis=1)

In [15]:
y_obs.columns

Index(['predicted_like_count', 'like_count'], dtype='object')

In [16]:
y_obs

       predicted_like_count  like_count
34400             58.600000          94
28798             45.666667          30
11110             12.666667           0
17521             15.866667          43
26743             12.133333           8
20212             52.066667          36
7414              14.266667           1
3428              47.000000          60
17612             11.400000          19
24671             21.000000          21
2137              42.400000          36
35144             31.066667          29
34505             24.466667          31
6250              21.200000           6
14434             23.866667          18
1829              21.066667          47
32477             28.533333          38
27135             17.333333          31
25609              4.866667          13
21365             12.666667           0
482               25.733333          89
10711             33.600000           2
28866             99.133333         119
13975             36.000000          34
2962               6.933333           7
22193             17.066667          31
9352              18.333333           0
36440              7.200000           2
34431             13.533333          22
23637              7.066667           3
...                     ...         ...
6855              22.133333          26
19145             18.000000          17
19208             15.533333          20
30762             31.533333          64
33070             27.133333          31
16142             10.333333          12
27156             17.266667          81
34216             40.733333          31
10238             11.866667           6
12297             29.266667           1
4962              41.000000           1
803               26.600000          37
7264               2.066667           2
9449              14.133333           0
18917              8.800000          14
28588             14.200000          30
23246             16.000000           5
28162              7.800000          11
28584             22.733333          19
14394             29.400000          22
9514              24.933333           5
18755            187.533333           2
33563             36.466667          59
16528             23.066667          31
104               48.866667          12
23379             10.333333          11
15396             15.800000          37
11298             12.666667           1
2557              68.666667         134
19815             13.466667          20

[7516 rows x 2 columns]